@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e4ece9;
}

body {
  width: 100%;
  height: 100vh;

  background-color: #e4ece9;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #1f2523;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px;
  }
}
